@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    /* Rolagem suave da página */
    scroll-behavior: smooth;
}

:root {
    --prmaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8fe;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}
/*Configurando posição e das manchas na tela*/
.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* não fica na frente de outras ítens */
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--prmaria) 0%, transparent 20%),
    radial-gradient(circle at 10% 20%, var(--secundaria) 0%, transparent 20%), var(--maisEscuro);
}

/* configurando o menu de navegação */
.navegacao {
    position: fixed;
    /* define que vai ficar sempre no topo */
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    /* faz com que a largura ocupe toda extensaõ */
    width: 100%;
    /* define que vai ficar sempre na frente de todos */
    z-index: 100;
    /* define um espaçamento entre os ítens */
    padding: 1.5rem;
}

.menu {
    /* coloca um ao lado do outro */
    display: flex;
    /* centraliza o conteúdo */
    justify-content: center;
    /* elimina os marcadores da lista */
    list-style: none;
    /* cria espaçamento horizontal entre os elementos */
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

/* posso colocar coisas:  (after => depois) ou (before => antes) dos meus ítens */

/* inserindo ítens/ efeitos ao menu após menu */
.menu-link::after {
    /* é obrigatório colocar o content vazio */
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* vai dar cor com degrade ao efeito */
    background: linear-gradient(90deg, #e2e8fe, #7c3aed);
    /* cria efeito lento na aparição */
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    /* width: 350px; */
    max-width: 500px;
    height: 100%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50px;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

.foto-perfil-estoque{
    width: 350px;
    height: 100%;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50px;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;

}

.cabecalho h1 {
    font-size: 3.5rem;
    color: var(--prmaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.cabecalho-sub-titulo-estoque {
    font-size: 2.2rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;

}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    /* cria um efeito de vidro embaçado de banheiro */
    backdrop-filter: blur(10px);
    /* precisa escolher uma cor para o backdrop-filter */
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    /* posiciona os elemntos como um grid */
    display: grid;
    /* cria colunas no mesmo tamanho para todos os ítens com tamanho mínimo de 300px e o máximo 1fr( 1 fração do espaço) */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* espaçamento entre as imagens */
    gap: 2rem;
    /* tamanho máximo para telas muito grandes */
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    /* Caso a imagem fique grande este atributo esconde a sobra */
    overflow: hidden;
    transition: all 0.5s ease;
}

/* Criando efeitos sobre a imagem dos cards */
.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    /* este efeito move 10px no eixo y e muda sua escala aumentando 1.03px */
    transform: translateY(-10px) scale(1.03);
    cursor: pointer;
}

.projetos-titulos {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    /* determina como a imagem vai cobrir a área */
    object-fit: cover;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.contatos p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro) ;
    /* retira o efeito marcado ao clicar no campo */
    outline: none;
}

/* criando efeito sobre capo do formulário ao clicar cria borda de outra cor */
.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--prmaria), var(--secundaria) );
    padding: 1rem 2rem;
    border: none;
    border-radius:8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.topoMenu{
    text-align: center;
    padding: 5px;
    color: var(--escuro);
    font-weight: 600;
    background-color: chartreuse;
    width: 80px;
    height: auto;
    margin: 15px auto;
    border-radius: 5px;
}
.contatos .topoMenu{
    display: block;
    align-items: center; 
}

.contatos .topoMenu a{
    text-decoration: none;
}

.contatos .topoMenu:hover{
    background-color: rgb(54, 94, 14);
    color: var(--claro);
}

footer{
    text-align: center;
    color: var(--claro);
}

/* Criando uma animação, devemos dizer como se comportar */
@keyframes flutuar{
    0%, 100%{
        /* no momento 0 e 100% fique parado */
        transform:translateY(0)
    }
    50%{
        /* no momento 50% diminua 20px */
        transform: translateY(-20px);
    }
}




