* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    /* Rolagem suave da página */
    scroll-behavior: smooth;
}

:root {
    --prmaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8fe;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}
/*Configurando posição e das manchas na tela*/
.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* não fica na frente de outras ítens */
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--prmaria) 0%, transparent 20%),
    radial-gradient(circle at 10% 20%, var(--secundaria) 0%, transparent 20%), var(--maisEscuro);
}

/* configurando o menu de navegação */
.navegacao {
    position: fixed;
    /* define que vai ficar sempre no topo */
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    /* faz com que a largura ocupe toda extensaõ */
    width: 100%;
    /* define que vai ficar sempre na frente de todos */
    z-index: 100;
    /* define um espaçamento entre os ítens */
    padding: 1.5rem;
}

.menu {
    /* coloca um ao lado do outro */
    display: flex;
    /* centraliza o conteúdo */
    justify-content: center;
    /* elimina os marcadores da lista */
    list-style: none;
    /* cria espaçamento horizontal entre os elementos */
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

/* posso colocar coisas:  (after => depois) ou (before => antes) dos meus ítens */

/* inserindo ítens/ efeitos ao menu após menu */
.menu-link::after {
    /* é obrigatório colocar o content vazio */
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* vai dar cor com degrade ao efeito */
    background: linear-gradient(90deg, #e2e8fe, #7c3aed);
    /* cria efeito lento na aparição */
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    position: fixed;/*Fixa o header no topo da tela*/
    top: 0;/*Posiciona o header no topo da tela*/
    width: 100%;
    z-index: 10; /*garante que fique acima de outros elementos*/
}
.header{
    display: flex; 
   
}
.masseratiLogo{
    width: 80px;
    height: 80px;
    margin: 100px 30px;
    border-radius: 10px;
}

.header h1{
    margin-top: 130px;
    font-size: 2.5rem;
}

footer{
    text-align: center;
    color: var(--claro);
}